/* Default settings */
  
  /* all */
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-text-size-adjust:100%;
  }
  a, a:visited {
    color:#0000EE;
  }
  
  /* header */
  .header {
    margin:0 auto;
    background:#fff;
    margin-bottom:15px;
    border-bottom:5px solid #D9D9D9;
  }
  
  .footer {
    width:100%;
    margin:0 auto;
    background:white;
    text-align:center;
    color:#666;
    font-size:13px;
  }

  .footer {
    width:100%;
    margin:0 auto;
    background:white;
    text-align:center;
    color:#666;
    font-size:13px;
  }

  .footer .what_is_this_site {
    width:100%;
    padding:25px 0;
    font-size:16px;
    background:#fafafa;
  }
  .footer .what_is_this_site b {
    padding-left:3px;
    padding-right:3px;
    font-size:101%;
  }
  .footer .what_is_this_site ul {
  }
  .footer .what_is_this_site li {
    list-style:none;
  }
  .footer .what_is_this_site img {
    width:100%;
    max-width:110px;
    margin-bottom:15px;
  }
  
  .inside {
    width:960px;
    margin:0 auto;
  }
  /* footer */
  .footer .perlri_link img {
    width:105px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
  }
  .footer .perlri_link a, .footer .perlri_link a:visited {
    color:white;
    display:block;
    height:100%;
    padding:28px 0 25px 0;
    font-size:18px;
    font-weight:bold;
    color:white;
    text-align:center;
    background:#70AD47;
    letter-spacing:1px;
    font-size:18px;
    cursor:pointer;
    text-decoration:underline;
  }
  .footer .perlri_link a:hover {
    opacity:0.8;
  }

  .youtube_block {
    width:calc(100% - 30px);
    max-width:560px;
    margin:0 auto;
  }
  .youtube {
    position: relative;
    width: 100%;
    margin:0 auto;
    padding-top: 56.25%;
  }
  .youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  /* container */
  .container {
    background:#F2EFE;
  }
  
  /* main */
  .main {
    max-width:960px;
    width:100%;
    margin: 0 auto;
    padding:0 5px;
  }
  .main:after {
    content:"";
    display:block;
    clear:both;
  }
  
  /* content */
  .content {
    float:left;
    width:calc(100% - 280px - 30px);
  }
  
  /* entry */
  .entry {
    background:white;
    margin-bottom:10px;
  }
  .entry li {
    margin-left:25px;
    line-height:1.5;
  }
  
  /* side */
  .side {
    float:left;
    width:280px;
    margin-left:30px;
    padding-top:16px;
  }
  
  /* tags */
  h1 {
    max-width:1020px;
    width:100%;
    font-size:28px;
    padding:19px 10px 15px 73px;
    background:url(/images/giblog-logo.png) no-repeat 10px 15px;
    background-size:48px;
  }
  h1 a, h1 a:visited {
    color:white;
    text-decoration:none;
    color:#333;
  }
  h2 {
    font-size:24px;
    margin:10px 0;
    padding-left:20px;
    letter-spacing:0.5px;
    border-left:8px solid #00A78C;
  }
  h2 a, h2 a:visited {
    text-decoration:none;
    color:#000;
  }
  h3 {
    font-size:20px;
    border-top:4px solid #ddd;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    background:#F5F5F5;
    margin-top:30px;
  }
  h4 {
    font-size:20px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 18px 0;
    border-bottom:dashed 1px #ddd;
  }
  p {
    font-size:16px;
    color:#111;
    margin:10px 0;
    line-height:1.5;
  }
  pre {
    font-size:16px;
    background:#FCFCFC;
    border:1px solid #CCCCCC;
    border-radius:5px;
    padding:10px 15px;
    margin:10px 0;
    line-height:1.5;
    white-space:pre-wrap;
  }
  blockquote {
    font-size:16px;
    background:#FCFCFC;
    border:1px solid #CCCCCC;
    border-radius:5px;
    padding:10px 15px;
    margin:10px 0;
    line-height:1.5;
  }

  table {
    border-collapse: collapse;
    margin-left:15px;
  }

  table th {
    border:1px solid #ddd;
    padding:7px;
    background:#eee;
    font-weight:bold;
  }

  table td {
    border:1px solid #ddd;
    padding:7px;
  }
  
  /* advanced */
  .day {
    text-align:right;
    color:#999;
  }
  .before-days {
    text-align:center;
  }
  .side-list {
    box-shadow: 0 0 3px rgba(0,0,0,.1);
  }
  .side-list-title {
    background:#009D82;
    color:white;
    font-weight:bold;
    padding: 12px 0px 10px 0px;
    text-align:center;
    border:1px solid #E5E5E5;
    border-bottom:none;
  }
  .side-list ul {
    border:1px solid #ccc;
  }
  .side-list li {
    list-style:none;
    background:white;
    border-bottom:1px solid #E5E5E5;
    padding:12px 0px 10px 15px;
  }
  .side li:last-child {
    border-bottom:none;
  }

  .hatena-module {
    
  }

  .hatena-module ul li, .hatena-module ol li {
    padding: 8px 8px;
    border-bottom: 1px solid #edf0f4;
    line-height: 1.3;
    list-style:none;
  }
  .hatena-module a {
    text-decoration: none;
    font-size:14px;
  }
  .hatena-modulebody {
    background:#f8f8ff;
    border-bottom:none;
    border-right:1px solid #d2d6de;
    border-left:1px solid #d2d6de;
  }

   .hatena-modulebody ul {
     margin-bottom:0;
   }

  .hatena-moduletitle {
    font-family: "times new roman", "geogia", serif;
    padding:10px 0 8px 0;
    font-size:16px;
    color:#2e8b57;
    background:#90ee90;
    border-left:0px solid #f4a460;
    border-bottom:none;
    text-align:center;
    font-weight:bold;
  }

/* Tablet and Smart phone */
@media only screen and (max-width:960px) {
  .content {
    float:none;
    width:97%;
    margin:0 auto;
    margin-bottom:15px;
  }
  .side {
    float:none;
    width:97%;
    margin:0 auto;
  }
}
